@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow: hidden;
  font-family: Comfortaa;
  width: 100vw;
  height: 100vh;
}

.content {
  width: 100vw;
  height: 100vh;
  background: #eed6e0ы;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 75%;
  position: relative;
}

#lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%) scale(1.1);
}

#mt {
  padding: 0 10px 0 10px;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

#mt th {
  height: 100px;
}

caption {
  color: #853959;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}

.year {
  color: #853959;
  font-size: 50px;
  padding-right: 30px;
}

.year p {
  font-size: 35px;
  font-weight: bold;
}

.month,
.day {
  font-size: 50px;
  padding-right: 30px;
  color: #853959;
}

.month p,
.day p {
  font-size: 35px;
}

.hour {
  font-size: 40px;
  padding: 0 20px 0 60px;
  color: #853959;
}

.hour p {
  font-size: 30px;
  font-weight: bold;
}

.clock {
  font-size: 40px;
  padding: 0 10px 0 10px;
  color: #853959;
}

.clock p {
  font-size: 30px;
  font-weight: bold;
}

.slider__item {
  opacity: 0.7;
}

.slider__item.slick-center {
  opacity: 1;
}

.slider__item img {
  max-height: 80%;
}

.slick-track {
  overflow: hidden;
  display: flex;
  max-height: 70vh;
}

.slick-list {
  overflow: hidden;
  max-height: 70vh;
  width: 100vw;
}

.slider {
  overflow: hidden;
  position: relative;
  padding-top: 3%;
  max-height: 70vh;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 30%;
  height: 40px;
  width: 20px;
  background: url("../img/Vector2.png") 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 30%;
  height: 40px;
  width: 16px;
  background: url("../img/Vector1.png") 0 0 no-repeat;
}

.slider__item {
  text-align: center;
}

@media (max-width: 1110px) {
  .slider .slick-arrow.slick-prev {
    left: 25%;
  }

  .slider .slick-arrow.slick-next {
    right: 25%;
  }
}

@media (max-width: 980px) {
  #mt {
    width: 90%;
  }

  .month,
  .day {
    padding-right: 10px;
  }
}

@media (max-width: 880px) {
  caption {
    font-size: 30px;
  }
}

@media (max-width: 875px) {
  #mt th {
    height: 80px;
  }

  .year {
    padding-right: 10px;
  }

  .year p {
    font-size: 20px;
  }

  .month p,
  .day p {
    font-size: 20px;
  }

  .hour p {
    font-size: 15px;
  }

  .clock p {
    font-size: 15px;
  }
}

@media (max-width: 780px) {
  .slider .slick-arrow.slick-prev {
    left: 20%;
  }

  .slider .slick-arrow.slick-next {
    right: 20%;
  }
}

@media (max-width: 630px) {
  .slider .slick-arrow.slick-prev {
    left: 10%;
  }

  .slider .slick-arrow.slick-next {
    right: 10%;
  }
}

@media (max-width: 610px) {
  #lottie {
    transform: translate(-50%, -55%) scale(1);
  }

  #mt tr {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 590px) {
  #mt tr {
    width: 52%;
    margin: 0 auto;
    transform: translateX(8%);
  }

  .hour {
    padding: 20px 10px 0 5px;
  }

  .clock {
    padding: 20px 10px 0 10px;
  }
}

@media (max-width: 530px) {
  .slider__item img {
    padding: 0 25px;
    max-width: 130%;
  }

  .slider {
    padding-top: 15%;
  }
}

@media (max-width: 530px) and (min-height: 780px) {
  .slider {
    padding-top: 30%;
  }

  .slider .slick-arrow {
    top: 55%;
  }
}

@media (max-width: 480px) {
  #mt tr {
    width: 65%;
  }
}

@media (max-width: 430px) {
  #mt tr {
    width: 68%;
  }

  caption {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  #mt tr {
    width: 79%;
  }
}

@media (max-width: 360px) {
  #mt tr {
    width: 90%;
  }
}
@supports (-webkit-appearance:none){
.slider .slick-arrow.slick-prev{background:url("../img/Vector2.webp") 0 0 no-repeat}
.slider .slick-arrow.slick-next{background:url("../img/Vector1.webp") 0 0 no-repeat}
}

 @media (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 980px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 880px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 875px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 780px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 630px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 610px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 590px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 530px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 530px) and (min-height: 780px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 430px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
